body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.images{
    position: relative;
    left: 60px;
    top: 20px;
}

.option{
    padding-top: 30px;
}

.but,.pro{
    margin-right: 10px;
    height: 30px;
    background-color: white;
    font-size: 18px;
    border: none;
}
.scarchbar{
    width: 400px;
    height: 30px;
    position: relative;
    top: 30px;
    padding-left: 40px;

}

.Profile{
    padding-top: 30px;
    padding-right: 50px;
}

.middle{
    background-color: rgb(233, 233, 232);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    justify-content: center;
    
}

.card{
    background-color: rgb(219, 72, 72);
    color: white;
}
.Footerimage{
    max-width: 100%;  
   

}
button{

    height: 40px;
    
    background-color: orange;
    
   
    
}