body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

#root{
    width: 800px;
    padding: 20px 10px;
    background-color: bisque;
    text-align: center;

}
.second{
    font-size: 25px;
}